<div class="border-start border-5">
  <div class="m-3">
    <p><%= @question %></p>
    <p>-You</p>
  </div>
</div>

<div class="bg-warning border-start border-5">
  <div class="m-3">
    <p><%= @answer %></p>
    <p>-Your coach</p>
  </div>
</div>

<%= link_to "Ask a new question", "ask" %>
